#define SVRIP ""
#define PORT 1883

#define TOPIC_IN "blinds/command"
#define TOPIC_OUT "blinds/state"

#define WIFI_SSID ""
#define WIFI_PASSWD ""

#define MQTT_NAME "Blinds"
#define MQTT_USER ""
#define MQTT_PASSWD ""